/* inizio utilities */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
}

.centering{
    width: 80%;
    margin: auto;
}

.centering60{
    width: 60%;
    margin: auto;
}

.rltv {
    position: relative;
}

/* fine utilities */

/* inizio CSS header  */

header {
    background-color: lightblue;
}

.header-container{
    position: fixed;
    z-index: 1;
    justify-content: space-between;
    background-color: white;
    width: 100%;
}

.header-left, .header-right {
    align-items: center;
    padding: 10px;
}

.header-container img {
    height: 17px;
}

.header-left > * , .header-right > *{
    padding: 0px 8px;
}

.header-container a {
    color: grey;
    text-decoration: none;
}

.header-container a:hover {
    text-decoration: underline;
}

.btn-blue{
    color: white;
    background-color: #0061FE;
    border: none;
    padding: 5px 5px;
}

.jumbo-container {
    padding-top: 65px;
    }

.jumbo-container .jumbo-heading{
    text-align: center;
    padding-bottom: 20px;
}   

.jumbo-heading h1 {
    font-size: 4.813rem;
}

.jumbo {
    padding-left: 130px;
}

.jumbo-paragraph p:first-child{
    padding-bottom: 20px;
}

.jumbo-paragraph .jp{
    padding: 20px 0px;
}

.fa-arrow-down{
    font-size: 1.875rem;
    padding-bottom: 10px;
}

.jumbo img{
    position: relative;
    width: 600px;
    height: 260px;
    top: 27px;
    left: 0;
}

/* fine header CSS */

.main-container {
    margin-top: 50px;
}

#checkbox1, #checkbox2 {
    padding-top: 30px;
    padding-right: 20px;
    padding-bottom: 20px;
    display: inline-block;
}

/* 3 colonne */

.col-container {
    justify-content: space-between;
}

.col1, .col2, .col3 {
    border: 1px solid gray;
    width: 30%;
}

.cntr-brdr-gry {
    text-align: center;
    border-bottom: 1px solid gray;
}

.pd-left{
    padding-left: 15px;
}

.hr,  .col-btn {
    margin-left: 15px;
}

.pd-top{
    padding-top: 10px;
}

.pd-bot {
    padding-bottom: 10px;
}

.pd-bot25{
    padding-bottom: 25px;
}

.col-btn {
    margin-top: 20px;
    margin-bottom: 10px;
}

.no-underline {
    text-decoration: none;
    color: black;
}

.text7, .text8 {
    margin:20px 0px;
    display: inline-block;
}

.hr{
    width: 15%;
    background-color: grey;
    height: 1px;
}

.text11{
    padding-bottom: 150px;
}

/* fine 3 colonne */

/* riquadro sotto le tre colonne */

.tab-team{
    width: 100%;
    border: 1px solid gray;
    margin-top: 20px;
    margin-bottom: 60px;
}

.p-tab-team {
    color: grey;
    padding-top: 30px;
}

.btn-tab-team {
    top: -103px;
    right: -638px;
}

/* fine riquadro sotto le colonne */

/* inizio img partner con scritte difianco */

.partner img {
    height: 100%;
    width: 60%;
    float: left;
}

.btn-white{
    color: gray;
    background-color: white;
    border:1px solid gray;
    padding: 5px 5px;
}

.partner-left{
    padding-left: 520px;
    padding-top: 30px;
}

.btn-white {
    margin-left: 35px;
    margin-top: 20px;
}

/* fine img partner con scritte difianco */
