/* inizio utilities */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
}

.centering{
    width: 80%;
    margin: auto;
}

.centering60{
    width: 60%;
    margin: auto;
}

.rltv {
    position: relative;
}

.clearfix::after{
    display: table;
    clear: both;
    content: "";
}

/* fine utilities */

/* inizio CSS header  */

header {
    background-color: lightblue;
}

.header-container{
    position: fixed;
    z-index: 1;
    justify-content: space-between;
    background-color: white;
    width: 100%;
}

.header-left, .header-right {
    align-items: center;
    padding: 10px;
}

.header-container img {
    height: 17px;
}

.header-left > * , .header-right > *{
    padding: 0px 8px;
}

.header-container a {
    color: grey;
    text-decoration: none;
}

.header-container a:hover {
    text-decoration: underline;
}

.btn-blue{
    color: white;
    background-color: #0061FE;
    border: none;
    padding: 5px 5px;
}

.jumbo-container {
    padding-top: 65px;
    }

.jumbo-container .jumbo-heading{
    text-align: center;
    padding-bottom: 20px;
}   

.jumbo-heading h1 {
    font-size: 4.813rem;
}

.jumbo {
    padding-left: 130px;
}

.jumbo-paragraph p:first-child{
    padding-bottom: 20px;
}

.jumbo-paragraph .jp{
    padding: 20px 0px;
}

.fa-arrow-down{
    font-size: 1.875rem;
    padding-bottom: 10px;
}

.jumbo img{
    position: relative;
    width: 600px;
    height: 260px;
    top: 27px;
    left: 0;
}

.jumbo-paragraph{
    padding-top: 24px;
}

/* fine header CSS */

.main-container {
    margin-top: 50px;
}

#checkbox1, #checkbox2 {
    padding-top: 30px;
    padding-right: 20px;
    padding-bottom: 20px;
    display: inline-block;
}

/* 3 colonne */

.col-container {
    justify-content: space-between;
}

.col1, .col2, .col3 {
    border: 1px solid gray;
    width: 30%;
}

.pad-col{
    padding-left: 15px;
}

.fa-user, .fa-users, .fa-building, .fa-folder, .fa-code, .fa-check{
    font-size: 0.813rem;
    padding-right: 5px;
}

.fa-check{
    color: green;
}

.cntr-brdr-gry {
    text-align: center;
    border-bottom: 1px solid gray;
}

.pd-left{
    text-indent: -10px;
    padding-left: 1.2em;
}

.hr,  .col-btn {
    margin-left: 15px;
}

.pd-top{
    padding-top: 10px;
}

.pd-bot {
    padding-bottom: 10px;
}

.pd-bot25{
    padding-bottom: 25px;
}

.col-btn {
    margin-top: 20px;
    margin-bottom: 10px;
}

.no-underline {
    text-decoration: none;
    color: black;
}

.text7, .text8 {
    margin:20px 0px;
    display: inline-block;
}

.hr{
    width: 15%;
    background-color: grey;
    height: 1px;
}

/* fine 3 colonne */

/* riquadro sotto le tre colonne */

.tab-team{
    width: 100%;
    border: 1px solid gray;
    margin-top: 20px;
    margin-bottom: 60px;
}

.p-tab-team {
    color: grey;
    padding-top: 30px;
}

.btn-tab-team {
    top: -103px;
    right: -638px;
}

/* fine riquadro sotto le colonne */

/* inizio img partner con scritte difianco */
/* da rivedere */
.partner img {
    height: 100%;
    width: 60%;
    float: left;
}

.btn-white{
    color: gray;
    background-color: white;
    border:1px solid gray;
    padding: 5px 5px;
    margin-left: 35px;
    margin-top: 20px;
    margin-bottom: 190px
}

.partner-left{
    padding-left: 520px;
    padding-top: 30px;
}


/* fine da rivedere */
/* fine img partner con scritte difianco */

/* inizio css container img funzioni */

.h3-dropbox {
    padding: 20px 0px;
}

.function-container {
    flex-wrap: wrap;
    justify-content: space-between;
}

.img-function {
    width: calc(100%/3);
}

.function-container img {
    width: 100%;
}

.h4-function {
    padding: 20px 0px;
}

.h2-function {
    padding-top: 50px;
    padding-bottom: 20px;
}

.a-function {
    padding-bottom: 40px;
    display: block;
}

/* fine css container img funzioni *
/* inizio box colorati CSS */

.container-design {
   justify-content: space-between;
}

.col-design{
    width: calc(100%/3);
    height: calc(100vw/3);
    flex-wrap: wrap;
}

.overflow{
overflow: scroll;
}

.icons{
    flex-basis: 50%;
    height: 50%;
    justify-content: center;
    align-items: center;
}

.icons img{
    width: 40%;
    filter: invert(100%);
}

.center{
    padding: 20px;
}

.col-logo {
    border-bottom: 1px solid gray;
}

.center img{
    width: 40%;
}

#overflow{
    overflow: auto;
}

.p-col-design{
    padding: 20px 0px;
}

/* inizio colori per i box */

.green{
    background-color:lightgreen ;
}

.brown{
    background-color: brown;
}

.blue{
    background-color: blue ;
}

.red{
    background-color: red ; 
}

.azure{
    background-color: #ADD8E6; 
}

.yellow{
    background-color: yellow;
}

/* fine colori per i box */
/* fine box colorati CSS */

/* inizio domande frequenti CSS */

.text-button{
    background-color: lightblue;
    justify-content: space-between;
    padding: 65px 270px;
}

.btn-noborder-white{
    display: inline-block;
    height: 32px;
    padding: 0px 40px;
    border: none;
}

.answer{
    display: none;
}

.fa-chevron-down:hover + .answer {
    display: block;
  }

/* inizio domande frequenti CSS */

.ask{
    margin-bottom: 50px;
}

.ask-div1, .ask-div {
    border-bottom: 1px solid gray;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.ask-div1{
    padding-top: 50px;
    padding-bottom: 30px;
}

.ask-div{
  padding: 20px 1px;
}

.fa-chevron-down{
    font-size: 0.875rem;
}

/* fine domande frequenti CSS */
/* inizio footer CSS */

footer{
    background-color: #000000;
}

.container-footer{
    justify-content: space-between;
    padding-top: 25px;
    border-bottom: 1px solid gray;
    
}

.foot-li ul{
    list-style-type: none;
    color: white;
}

.foot-li li {
    padding: 5px 0px;
}

.foot-li h4 {
    color: white;
    padding: 10px 0px;
}

.foot-span{
  color: white;
}

.fa-earth-europe{
    font-size: 0.813rem;
    padding-right: 5px;
}

.fa-caret-up{
    font-size: 0.813rem;
    padding-left: 3px;
}